<div class="panel panel-info" ng-if="success">
    <div class="panel-heading">
        MISP warninglists information for <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal" ng-if="content.results">
        <dt>Results:</dt>
        <dd>
            <p>
                Observable was found in following MISP warning lists:
            </p>
            <ul ng-repeat="list in content.results">
                <li>{{list.name}}</li>
            </ul>
            <div class="alert" ng-class="{alert-warning: content.last_local_commit != content.last_remote_commit,
                    alert-success: content.last_local_commit == content.last_remote_commit}">
                Local MISP\misp-warninglists commit hash: {{content.last_local_commit}}<br />
                Remote MISP\misp-warninglists commit hash: {{content.last_remote_commit}}
            </div>
        </dd>
      </dl>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" ng-if="!success">
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        {{content.errorMessage}}
    </div>
</div>
